body {
  margin: 0;
  padding: 0;
  height: 100vh;                          /* Full viewport height */
  display: flex;                         /* Enable Flexbox */
  justify-content: center;              /* Center horizontally */
  align-items: center;                  /* Center vertically */
  flex-direction: column;               /* Stack content vertically */
  background-color: #FCFAF9;
  color: black;
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: sans-serif;
}

.button {
  background-color: #a5d687; 
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.3rem;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a5d687;
}

#cake-bg {
  background-color: #e3f2ff;
}

#cake-title {
  position: absolute;
  left:20px;
  top: 20px;
}

#cake-categories {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
}
.cake-div-lrg {
  width: 40%;
  height: 40vw;
  margin: 10px;
  background-color: #79a5d6;
  border: 3px solid #79a5d6;
  border-radius: 30px;
}

.cake-div-lrg:hover {
  border-color: white;
}

.cake-div-sml {
  width: 20%;
  height: 25vw;
  background-color: #79a5d6;
  margin: 10px;
  background-color: #79a5d6;
  border-radius: 30px;
}

.highlight {
  border-radius: 10px;
  box-shadow: 10px 10px 10px #ffda3a,
-10px -10px 10px #ffda3a;
}

.dragImage {
  position: absolute;
  cursor: grab;
  user-select: none;
  transition: left 0.2s ease, top 0.2s ease;
}
  
.dropZoneImage {
  position: absolute;
  transition: box-shadow 0.2s ease;
}