.container {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 100px;
}

#drag-img {
  width: 100px;
  height: 100px;
  cursor: grab;
}

#drop-zone {
  width: 150px;
  height: 150px;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}